<h1>Eat Da Burger</h1>

<aside>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <li>
                    <p>
                        {{this.id}}. {{this.burger_name}}
                        <button data-planid="{{this.id}}" class="devourMe">Devour!</button>
                    </p>
                </li>
            {{/unless}}
        {{/each}}
    </ul>
</aside>

<section>
    <h2>Add a Burger</h2>
    <form class="addBurger" class="button-size">
        <textarea type="text" name="burger" id="burg"></textarea>
        <button type="submit">Enter Burger!</button>
    </form>
</section>

<aside>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <li>
                    <p>
                        {{this.id}}. {{this.burger_name}}
                    </p>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</aside>